# Specific file types
*.sc
*.class

# SBT folders
/target
/test-output
/project/target
/project/project
.cache
.history
.lib
.bsp

# Intellij Idea
*.iml
*.ipr
*.iws
.idea
out

#gpg
gpg.sbt

modules/**/target
*/jmh-result.json

.metals
.bloop
