# Specific file types
*.sc
*.class
*.log

# SBT folders
/target
/test-output
/project/target
/project/project
.cache
.history
.lib

# Intellij Idea
*.iml
*.ipr
*.iws
.idea
out

#gpg
gpg.sbt

modules/benchmarks/target
modules/core/target
modules/jackson-backend/target
modules/macro-derivation/target